body {
  background-color: floralwhite;
  font-family: "Lava Devanagari";
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #b3e0d9;
}

body::-webkit-scrollbar-thumb {
  background-color: darkseagreen;
  border-radius: 20px;
  border: 3px solid darkolivegreen;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #66bb6a;
}

.navbar {
  overflow: hidden;
  background-color: lightseagreen;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-title {
  color: white;
  font-weight: bold;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: darkcyan;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

h1 {
  font-size: xxx-large;
  color: teal;
}

.typewriter {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(60) ;
  color: slategray;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.box {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  box-sizing: border-box;
}

.box-left {
  font-size: large;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start
}

.box-left ul {
  list-style-type: none;
  line-height: 1.8;
  color: teal;
}

.box-left h1 {
  margin-bottom: 15px;
  margin-top: 10px;
}

.box-right {
  font-size: large;
  color: slategray;
  line-height: 1.8;
  flex-direction: column;
}

@media (max-width: 600px) {
  .navbar {
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .navbar a {
    float: none;
    font-size: 14px;
    padding: 10px;
  }

  h1 {
    font-size: large;
  }

  .typewriter {
    top: 10%;
    font-size: 1.2em;
  }

  .box {
    flex-direction: column;
    padding: 10px;
    margin: 5px;
  }

  .box-left, .box-right {
    font-size: medium;
    padding: 10px;
  }
}