.more {
  margin-top: 5%;
  padding: 30px;
  /*text-align: center;*/
}

.more h2 {
  color: teal;
  font-size: xxx-large;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  position: relative;
  margin-bottom: 30%;
}

.photo-window {
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  background-color: grey;
  position: relative;
}

input[type="radio"] {
  display: none;
}

.photo-slides {
  display: flex;
  transition: transform 0.5s ease;
  width: calc(100% * 2);
}

.photo-slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.photo-slide::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.photo-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-description {
  position: absolute;
  top: 10px;
  left: 27%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: x-large;
  color: white;
  width: auto;
  max-width: 80%;
  text-align: center;
  line-height: 1.4;
  word-wrap: break-word;
}

#photo1:checked ~ .photo-window .photo-slides {
  transform: translateX(0%);
}

#photo2:checked ~ .photo-window .photo-slides {
  transform: translateX(-100%);
}

.arrows {
  position: absolute;
  top: 50%;
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  user-select: none;
  transition: background-color 0.3s ease;
  pointer-events: auto;
}

.left-arrow:hover,
.right-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 600px) {
  .photo-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0;
    position: relative;
    left: 10%;
    bottom: 10%;
  }

  .more h2 {
    font-size: 2em;
  }

  .photo-window {
    width: 100%;
  }

  .arrows {
    width: 100%;
  }

  .left-arrow,
  .right-arrow {
    font-size: 1.5em;
    padding: 8px;
  }

  .photo-description {
    font-size: 0.9em;
    padding: 5px;
    max-width: 90%;
  }
}

